body {
    background-color: #1a1d1d;
    color: rgba(211, 211, 211, 0.7);
    font-family: Helvetica, sans-serif;
}
a {
    color: blue;
}
h1 {
    text-align: center;
    font-size: 300%;
}
h2 {
    font-size: 250%;
}
section div p {
    margin-bottom: 1%;
    transform: translateY(50%);
    display: none;
}
.expand {
    display: inline;
    animation: fadein 0.5s;
}
@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
h3 {
    cursor: pointer;
}